@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

body {
    font-family: 'News Cycle', sans-serif;
}

#title {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.test {
    border: 1px solid red;
}

.jumbotron {
    height: 300px;
    background: url('/background_image.jpg') no-repeat center center;
}

.jumbotron.small-header {
    height: 50px;
}

.navbar {
    background: url('/navbar-background.jpg') no-repeat center center;
    border: none;
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.home-panel {
    height: 800px;
}

.home-panel.top-panel {
    background: url('/front-image.jpg') no-repeat center top;
}

.home-panel.cellar-panel {
    background: url('/cellar.jpg') no-repeat center top;
}

.home-panel.library-panel {
    background: url('/grapes.jpg') no-repeat center center;
}

.top-panel-text {
    text-align: center;
    margin-top: 160px;
    color: white;
}

.top-panel-text h1 {
    font-family: 'Lobster', cursive;
}

#footer {
    height: 100px;
    background-color: #cccccc;
}

.footer-links {
    text-align: center;
    padding-top: 40px;
    color: white;
}

.footer-links a {
    color: white;
    padding: 0 20px;
}