@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);

body {
	font-family: 'News Cycle', sans-serif;
}

#title {
	font-family: 'Lobster', cursive;
	font-size: 30px;
}

.test {
	border: 1px solid red;
}

.jumbotron {
	height: 300px;
  background: url('/background_image.jpg') no-repeat center center;
}

.navbar {
	background-color: white;
	border: none;
}

