<div class="container navbar navbar-default collapse">
    <div class="navbar-header">
        {{#link-to 'application' class='navbar-brand' id='title'}}Wino Log{{/link-to}}
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
        <li>{{#link-to 'application' class='active'}}Home{{/link-to}}</li>
        <li>{{#link-to 'cellar'}}The Cellar{{/link-to}}</li>
        <li>{{#link-to 'library'}}The Library{{/link-to}}</li>
        {{#if session.user}}
            <li>{{#link-to 'profile'}}My Profile{{/link-to}}</li>
        {{else}}
            <li>{{#link-to 'login'}}Login{{/link-to}}</li>
        {{/if}}
    </ul>
</div>	

{{outlet}}

<div id="footer">
    <div class="footer-links">
        {{#link-to 'application'}}Home{{/link-to}}  |  {{#link-to 'cellar'}}The Cellar{{/link-to}} | {{#link-to 'library'}}The Library{{/link-to}}
    </div>
</div>