<h2>Your Wine Cellar</h2>

<div>
    &nbsp;
</div>

<div class="col-sm-10 col-sm-offset-1">
    <table class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>Wine Name</th>
                <th>Grapes</th>
                <th>Region / Country</th>
                <th>Bottles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>14 Hands</td>
                <td>Merlot</td>
                <td>Washington State, USA</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>
    
<div class="col-sm-12">
    <a href="#">View History</a> &nbsp;|&nbsp; <a href="#">Add Wine</a>
</div>