<div class="home-panel top-panel">
    <div class="top-panel-text col-sm-6 col-sm-offset-3">
        <h1>Wino Log</h1>
    </div>
</div>
<div class="home-panel second-panel">
    <div class="second-panel-text text-center">
        <h1>Welcome to Wino Log</h1>
        <h4>Track the wine in your cellar, find the perfect wine pairing, and even learn a thing or two about growing regions around the world.</h4>
    </div>
    <div class="image-panels col-sm-10 col-sm-offset-1">
        <div class="cellar-image-panel text-center">
            <h2>Cellar</h2>
        </div>
        <div class="library-image-panel text-center">
            <h2>Library</h2>
        </div>
    </div>
</div>
<div class="home-panel third-panel">
</div>