<div class="home-panel top-panel">
    <div class="top-panel-text col-sm-6 col-sm-offset-3">
        <h1>Wino Log</h1>
        <p>Welcome to Wino Log, your one stop for all things wine. Track the wine in your cellar, find the perfect wine pairing, and even learn a thing or two about growing regions around the world.</p>
    </div>
</div>
<div class="home-panel cellar-panel">
</div>
<div class="home-panel library-panel">
</div>